<div class="card-product">
  <%= cl_image_tag("thought-catalog-I0TDRP0fj6Y-unsplash_ccjbhz") %>
  <div class="card-product-infos">
    <h2>Headline</h2>
    <p>Description with <strong>relevant info</strong> only.</p>
  </div>
</div>



