<% unless edu_content.thumbnail.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag('thought-catalog-I0TDRP0fj6Y-unsplash_ccjbhz') %>')">
    <%= edu_content.title  %>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path edu_content.thumbnail.key %>')">
    <%= edu_content.title  %>
  </div>
<% end %>
