<div class="card-product">
  <% unless content.photo.attached? %>
    <%= cl_image_tag("thought-catalog-I0TDRP0fj6Y-unsplash_ccjbhz") %>
  <% else %>
    <%= cl_image_tag content.photo.key, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h6><%= sanitize content.title %></h6>
  </div>
</div>
