<div class="card-product">
  <% unless own_content.photo.attached? %>
    <%= cl_image_tag("thought-catalog-I0TDRP0fj6Y-unsplash_ccjbhz") %>
  <% else %>
    <%= cl_image_tag own_content.photo.key, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <p><%= own_content.category + " | " + own_content.published_date.strftime("%B %d") %></p>
    <h6><%= sanitize own_content.title %></h6>
  </div>
</div>
