<div class="card" style="width: 12rem;">
  <%= image_tag'thirdpartycard.jpg', class: "card-img-top"  %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card </p>
  </div>
</div>
