.article-title, .article_abstract, .article_content, .comments-title {
  h1, p {
    color: #3A3B9C;
  }
}

.article-title, .article_abstract, .comments-title {
  h1, p {
    font-weight: bold;
  }
  p {
    margin-top: 20px;
  }
}

.article-category {
  h5 {
    color: grey !important;
    font-style: italic;
  }
}

.article-credentials, .publish-details {
  align-items: center;
  h5, p {
    margin-bottom: 0px;
  }
}

.article-credentials {
  display: flex;
  margin: 20px 0;
}

.article_thumbnail {
  img {
    width: 100%;
  }
}

.article_icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: right;
  i {
    padding: 8px;
  }
}

$size: 20px;

.social-share-button {
  -webkit-box-align: center;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    // padding: 0 8px;
    margin: 6.5px 8px 0 0;
  }
}

.comments-title {
  margin-top: 50px;
  border-top: 1px solid #3A3B9C;
  h1 {
    margin-top: 30px;
  }
}
