<div class="reveal">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>
            <%= @education_content.title %>
            ## Slide 1
            <%= @education_content.description %>
            ---
            ## Slide 2
            <%= @education_content.content %>
          </textarea>
        </section>
      </div>
  </div>
