 <div class="reveal py-5">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>
            <%= sanitize @education_content.title %>
            ## Slide 1
            <%= sanitize @education_content.description %>
            ---
            ## Slide 2
            <%= sanitize @education_content.edu_content %>
          </textarea>
        </section>
      </div>
  </div>


