<div class="forms-container">
  <%= simple_form_for @user do |f| %>
      <%= f.input :avatar, as: :file, label: false %>
      <%= f.button :submit, "Upload", class: "btn-white", id: "sml-upload" %>
  <% end %>
</div>
