<br><br>
    <%= image_tag 'user_tim.png' %>

<br><br><br><br>

<h3><strong>Account Details</strong></h3>
<h5>@userName</h5>
<h5>@userEmail</h5>
<br><br>

<h3><strong>Manage Preferences</strong></h3>

<h5>Payments</h5>
<h5>Card Options</h5>
<br><br><br>
<h6>Log Out</h6>
