<div class="container-dashboard">
  <br>
  <h3><strong>Hello!</strong></h3>

      <%= image_tag 'user_tim.png' %>

  <br><br><br>

  <h4><strong>Account Details</strong></h4>

  <h6><%= @userEmail %></h6>

  <br>

  <h4><strong>Manage Preferences</strong></h4>
  <h6>Payments</h6>
  <h6>Preferences</h6>

  <br>

  <h5><%= link_to "Log out", destroy_user_session_path, method: :delete %></h5>

</div>
