<div class="primary-container-newsfeed">
  <div class="m-3">
    <br>
    <h5>Your Favourites</h5>
    <br>
   <% if @favourites.present? %>
      <% @favourites.each do |content| %>
        <%= link_to own_content_path(content.own_content) do %>
          <%= render 'components/card', content: content.own_content %>
          <br>
        <% end %>
      <% end %>
    <% else %>
      <p class="mt-2"> Currently, you have no Favourites! </p>
    <% end %>
  </div>


