  <!-- FAQ-SECTION -->
    <div class="primary-container">
      <div class="our-story" id="our-story">
          <br>
        <h2>FAQ's</h2>
          <br>
        <p>

          <strong>What is Finmates?</strong>

          <br>

          Finmates is a user-friendly focused platform to help navigate the confusing world of Bitcoin and cryptocurrencies. <br><br>We aim to simplify and educate the novice-investor, while keeping the traditional investor updated on all the important happenings in the cryptocurrency space.

          <br><br><br>


          <strong>How does Finmates work?</strong>

          <br>

          Our main focus is Bitcoin and Ethereum, while covering other important areas such as regulation and adoption. <br><br>We aim to achieve this through a subscription-based model, providing regular updates on our platform.

          <br><br><br>

          <strong>What problem is Finmates aiming to solve?</strong>

          <br>

          We want to provide education for users to help evolve the cryptocurrency space towards mainstream adoption.

          <br><br><br>


          <strong>What is Finmates’ vision?</strong>

          <br>

          Our vision is to be a reliable and constant source of information for users from all experience levels. We aim to facilitate the growth of this technological innovation through education towards mainstream adoption.

          <br><br><br>


          <strong>How does Finmates help the cryptocurrency space?</strong>

          <br>

          We aim to achieve the breakdown of this technological innovation through simplified education. We want to fill the knowledge gap required for those looking to invest and grow their knowledge.

          <br><br><br>


          <strong>When can I sign up?</strong>

          <br>

          We are currently live and users can sign up at finmates.co!

          <br><br><br>

        </p>

      </div>
    </div>
