<div class="lp-top">

<!-- BANNER -->
  <div class="banner">
    <div class="banner-content">
      <div class="banner-slogan">
        <h1>Lorem ipsum Lorem ipsum Lorem ipsum<div id="typing" class="typing"></div></h1>
      </div>

      <%= link_to '#' do %>
        <button class="btn-white"> Start free trial! </button>
      <% end %>
    </div>

    <div class="banner-img">
      <%= image_tag 'banner-img.png' %>
    </div>
  </div>

<!-- TYPING-EFFECT -->
<script>
  var typeString = ['lorem.  ', 'ipsum.  ', 'lorem.  '];
  var  i = 0;
  var count = 0
  var selectedText = '';
  var text = '';
  (function type() {
    if (count == typeString.length) {
      count = 0;
    }
    selectedText = typeString[count];
    text = selectedText.slice(0, ++i);
    document.getElementById('typing').innerHTML = text;
    if (text.length === selectedText.length) {
      count++;
      i = 0;
    }
    setTimeout(type, 200);
  }());

  function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
      }
    }
  }
</script>
