<div class="primary-container-newsfeed">
  <div class="mx-3 my-4 py-5">
    <br>
    <h5>Articles</h5>
    <br>
    <% @own_contents.each do |content| %>
      <%= link_to own_content_path(content) do %>
        <%= render 'components/card', content: content %>
        <br>
      <% end %>
    <% end %>
  </div>
  <hr></hr>

</div>
