.footer {
  position: unset;
  bottom: 0;
  height: 9.5rem;
  z-index: 2;
  box-shadow: 5px 0px 0px 0px;
  width: 100%;
  font-size: 6px !important;
  text-color: black !important;;
  background: linear-gradient(115deg, #BC00DD 0%, #2D00F7 50%, #4DECFF 100%);
}

.footer-links {
  display: flex;
  justify-content: center;
  a, p {
    margin: 0 16px;
    color: white !important;
  }
}

.social-share-btn {
  display: flex;
  justify-content: center;
  i {
    font-size: 20px;
    margin: 8px 8px 24px 8px;
    color: white !important;
  }
}
