.footer{
  height: 2.5rem;
  z-index: 2;
  box-shadow: 5px 0px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  font-size: 6px !important;
  text-color: black !important;;
  background: #F0F0F0;
}

