// TOP NAVBAR //
.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  min-height: 8vh;
  background: white;
  box-shadow: 0px 0px 5px 0px;
}


// NAVBAR - SLIDE MENU //
.nav-links {
  display: flex;
  justify-content: space-around;
  z-index: 3;
  overflow-x: hidden;
  position: fixed;
  right: 0px;
  height: 95%;
  top: 72px;
  background: linear-gradient(115deg, #BC00DD 0%, #2D00F7 50%, #4DECFF 100%);
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.25s ease-in;
}

.nav-links li{
  opacity: 0;
}

.nav-active {
  transform: translateX(0%);
}

.nav-link text {
  color: white;
  text-align: center;
}

.nav-link img {
  width: 30%;
  list-style: none;
  text-decoration: none;
}

// NAVBAR ICONS //
.fmlogo img {
  width: 160px;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: linear-gradient(115deg, #BC00DD 0%, #2D00F7 50%, #4DECFF 100%);
  margin: 5px;
  transition: all 0.3s ease;
}


// SIDE NAVBAR FADE //
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


// BURGER ANIMATION //
.cross .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.cross .line2 {
  opacity: 0;

}
.cross .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}


// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }


// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }
