.who-are-we-card-1, .who-are-we-card-2, .who-are-we-card-3 {
  text-align: center;
  img {
    height: 400px;
  }
  p {
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
  }
}

.who-are-we-card-1 {
 background: #4CC9F0;
}

.who-are-we-card-2 {
 background: #F72585;
}

.who-are-we-card-3 {
 background: #7209B7;
}

